body {
  background-color: #000000;
  color: #f01f28;
  font-family: "ITC Serif Gothic";
}

h1 {
  font-weight: 900;
}

button {
  font-family: "ITC Serif Gothic";
}

.monospace {
  font-family: monospace;
}
